<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Document</title>

    <style>
      @import
      url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,400;0,600;0,700;0,800;0,900;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
      body { margin: 0; font-family: 'Nunito Sans', sans-serif; font-size: 1rem; font-weight: 300; line-height: 1.5;
      color: #44476a; text-align: left; background-color: #e6e7ee; } .container { padding: 0.5rem 2rem; } .title {
      font-weight: 900; margin-top: 0; margin-bottom: 0.5rem; font-size: 2rem; } .link { display: flex; justify-content:
      center; align-items: center; } .link a { padding: 0.5rem 1.25rem; text-decoration: none; color: #44476a;
      font-weight: 700; border: 1px solid #d1d9e6; box-shadow: -3px -3px 6px #ffffff, 3px 3px 6px #b8b9be;
      border-radius: 0.55rem; } .link a:active, .link a:hover { box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px
      7px #ffffff; text-decoration: underline #e83e8c; } .footer { display: flex; flex-direction: column; font-style:
      italic; font-weight: 700; }
    </style>
  </head>
  <body>
    <div class='container'>
      <h2 class='title'>Hi {{name}},</h2>
      <p>Thanks for signing up for My App. We're very excited to have you on board.</p>
      <p>To get start using My App, please confirm your account bellow:</p>
      <div class='link'>
        <a href={{url}}>Confirm your account</a>
      </div>
      <p>Need help, or have question? Just reply to this email, we'd love to have.</p>
      <div class='footer'>
        <span>Cheers,</span>
        <span>My APP</span>
      </div>
    </div>
  </body>
</html>